In [25]:
import pandas as pd
import numpy as np

In [26]:
df=pd.read_csv('data_karyawan.csv')

In [27]:
#Control Flow Jenis Jabatan
def jabatan(df):
    
    if (df['Gaji'] >= 8000000 and df['Gaji'] <= 9000000 ):
        return 'Officer'
    elif (df['Gaji'] >= 10000000 and df['Gaji'] <= 11000000):
        return 'Supervisor'
    elif (df['Gaji'] >= 12000000 and df['Gaji'] <= 14000000):
        return 'Asst.Manager'
    elif (df['Gaji'] >= 15000000):
        return 'Manager'
    
df['Jabatan'] = df.apply(jabatan, axis = 1)
print(df)

   No. Jenis Kelamin  Umur Karyawan      Gaji       Transportasi       Jabatan
0    1     Laki-Laki             20   8000000  Kendaraan pribadi       Officer
1    2     Laki-Laki             35  14000000     Kendaraan umum  Asst.Manager
2    3     Perempuan             26  10000000     Kendaraan umum    Supervisor
3    4     Perempuan             27  12000000  Kendaraan pribadi  Asst.Manager
4    5     Laki-Laki             21   9000000  Kendaraan pribadi       Officer
5    6     Laki-Laki             22  11000000  Kendaraan pribadi    Supervisor
6    7     Perempuan             32  15000000     Kendaraan umum       Manager
7    8     Perempuan             26   8000000     Kendaraan umum       Officer
8    9     Laki-Laki             25   9000000     Kendaraan umum       Officer
9   10     Perempuan             20  10000000  Kendaraan pribadi    Supervisor

In [28]:
#Gaji Terkecil
print(df.min())

No.                              1
Jenis Kelamin            Laki-Laki
Umur Karyawan                   20
Gaji                       8000000
Transportasi     Kendaraan pribadi
Jabatan               Asst.Manager
dtype: object

In [29]:
#Gaji Terbesar
print(df.max())

No.                          10
Jenis Kelamin         Perempuan
Umur Karyawan                35
Gaji                   15000000
Transportasi     Kendaraan umum
Jabatan              Supervisor
dtype: object