In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv('data_karyawan.csv')

In [20]:
#Control Flow Jenis Jabatan
def jabatan(df):
    
    if (df['Gaji'] >= 8000000 and df['Gaji'] <= 9000000 ):
        return 'Officer'
    elif (df['Gaji'] >= 10000000 and df['Gaji'] <= 11000000):
        return 'Supervisor'
    elif (df['Gaji'] >= 12000000 and df['Gaji'] <= 14000000):
        return 'Asst.Manager'
    elif (df['Gaji'] >= 15000000):
        return 'Manager'
    
df['Jabatan'] = df.apply(jabatan, axis = 1)
print(df)

   No. Jenis Kelamin  Umur Karyawan      Gaji       Transportasi       Jabatan
0    1     Laki-Laki             20   8000000  Kendaraan pribadi       Officer
1    2     Laki-Laki             35  14000000     Kendaraan umum  Asst.Manager
2    3     Perempuan             26  10000000     Kendaraan umum    Supervisor
3    4     Perempuan             27  12000000  Kendaraan pribadi  Asst.Manager
4    5     Laki-Laki             21   9000000  Kendaraan pribadi       Officer
5    6     Laki-Laki             22  11000000  Kendaraan pribadi    Supervisor
6    7     Perempuan             32  15000000     Kendaraan umum       Manager
7    8     Perempuan             26   8000000     Kendaraan umum       Officer
8    9     Laki-Laki             25   9000000     Kendaraan umum       Officer
9   10     Perempuan             20  10000000  Kendaraan pribadi    Supervisor

In [21]:
#Sorting Gaji Terbesar
df.sort_values(by=['Gaji'], ascending=False)

   No. Jenis Kelamin  Umur Karyawan      Gaji       Transportasi       Jabatan
6    7     Perempuan             32  15000000     Kendaraan umum       Manager
1    2     Laki-Laki             35  14000000     Kendaraan umum  Asst.Manager
3    4     Perempuan             27  12000000  Kendaraan pribadi  Asst.Manager
5    6     Laki-Laki             22  11000000  Kendaraan pribadi    Supervisor
2    3     Perempuan             26  10000000     Kendaraan umum    Supervisor
9   10     Perempuan             20  10000000  Kendaraan pribadi    Supervisor
4    5     Laki-Laki             21   9000000  Kendaraan pribadi       Officer
8    9     Laki-Laki             25   9000000     Kendaraan umum       Officer
0    1     Laki-Laki             20   8000000  Kendaraan pribadi       Officer
7    8     Perempuan             26   8000000     Kendaraan umum       Officer

In [22]:
#Sorting Gaji Terkecil
df.sort_values(by=['Gaji'])

   No. Jenis Kelamin  Umur Karyawan      Gaji       Transportasi       Jabatan
0    1     Laki-Laki             20   8000000  Kendaraan pribadi       Officer
7    8     Perempuan             26   8000000     Kendaraan umum       Officer
4    5     Laki-Laki             21   9000000  Kendaraan pribadi       Officer
8    9     Laki-Laki             25   9000000     Kendaraan umum       Officer
2    3     Perempuan             26  10000000     Kendaraan umum    Supervisor
9   10     Perempuan             20  10000000  Kendaraan pribadi    Supervisor
5    6     Laki-Laki             22  11000000  Kendaraan pribadi    Supervisor
3    4     Perempuan             27  12000000  Kendaraan pribadi  Asst.Manager
1    2     Laki-Laki             35  14000000     Kendaraan umum  Asst.Manager
6    7     Perempuan             32  15000000     Kendaraan umum       Manager